body {
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.nav-item {
    color: white;
}

.jumbotron {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
}

.main-jumbo {
    color: white;
    font-size: 28px;
}

.proj-btn {
    background-color: rgb(173, 0, 49)
}

.bio {
    line-height: 2.0;
    font-size: 24px;
}

.header {
    font-size: 72px;
}