body {
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, .8)
}

.navbar {
    background-color: transparent;
}

.navbar-brand {
    font-size: 36px;
    margin-left: 10px;
}

.nav-item {
    color: rgba(255, 255, 255, .8);
}

a:hover {
    color: rgba(255, 255, 255, .8);
}


.jumbotron {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
}

.main-jumbo {
    font-size: 28px;
}


.bio {
    line-height: 2.0;
    font-size: 24px;
}

.header {
    font-size: 72px;
    margin-bottom: 40px;
}

.icon {
    width: 40px;
    height: 40px;
    color: white;
}

.grid-img {
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
}

.grid-title {
    font-size: 24px;
}

.main-header {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.padding {
    padding-bottom: 50px;
}

.profile-img {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.nav-link {
    text-align: center;
}

.contact {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;
    color: white;
}

.con-link {
    color: white;
}

.submit {
    width: 100px;
}